.container {
	padding: var(--main-padding);
}

.route-title {
	font-size: 1.5rem;
	color: #d1d2d3;
	padding: 0 0 1em 1em;
}

.route-details-content {
	background: #292f34;
	color: #d1d2d3;
	box-shadow: 0 0 15px rgba(0, 0, 0, .5);
	padding: 2rem;
	margin-bottom: 2rem;
	font-size: 1.2rem;
}

.route-stations {

}

.route-station-info {
	display: flex;
	flex-wrap: wrap;
	padding: 1.3rem 0;
	align-items: center;
	text-align: center;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #54595d;
}

.col-station {
	flex: 0 0 35%;
	max-width: 35%;
}

.col-timegap {
	flex: 0 0 30%;
	max-width: 30%;
	position: relative;
	margin-top: 1em;
	display: flex;
	justify-content: center;
}

.col-timegap .timegap-line::before {
	content: '';
	border-top: 3px dashed #54595d;
	position: absolute;
	width: calc(100% - 3px);
	right: 3px;
	top: calc(-1em + 8px);
}

.col-timegap .timegap-line::after {
	content: '';
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='48' viewBox='0 0 16 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.414 6.685L1.68 11.413a.771.771 0 0 1-1.09-1.088L4.778 6.14.59 1.957A.77.77 0 1 1 1.68.868l4.734 4.729a.767.767 0 0 1 0 1.088z' fill='%2354595d'/%3E%3C/svg%3E");
	position: absolute;
	width: 10px;
	height: 18px;
	right: 0;
	top: -1em;
}

.col-timegap .content {
	display: flex;
	width: 100%;
	font-size: .85em;
}

.col-timegap .content .timegap-time,
.col-timegap .content .col-price {
	width: 50%;
	padding: .5em;
}

.route-summary {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-top: 2rem;
}
.route-summary .time span,
.route-summary .price span {
	margin-right: 1em;
}


.trip-create {
	background: #292f34;
	color: #d1d2d3;
	box-shadow: 0 0 15px rgba(0, 0, 0, .5);
	padding: 2rem;
	margin-bottom: 2rem;
	display: flex;
	flex-wrap: wrap;
}

.col-select, .col-datetime {
	flex: 0 0 calc(40% - 1rem);
	max-width: calc(40% - 1rem);
	margin: 0 .5rem;
}

.col-submit {
	flex: 0 0 calc(20% - 1rem);
	max-width: calc(20% - 1rem);
	margin: 0 .5rem;
}


.trip-list-header {
	color: #d1d2d3;
	background: #292f34;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
	padding: 1rem;
	margin-bottom: .5rem;
	display: flex;
	font-size: 1.2rem;
}

.header-id, .header-bus-number {
	flex: 0 0 20%;
	max-width: 20%;
}

.header-time {
	flex: 0 0 30%;
	max-width: 30%;
	text-align: center;
}


.trip-list {
	color: #d1d2d3;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2rem;
}

.trip-info {
	background: #292f34;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
	padding: 1.5rem;
	flex: 0 0 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	font-size: 1.1rem;
	align-items: center;
	margin: .2rem 0;
}

.col-id, .col-bus-number {
	flex: 0 0 20%;
	max-width: 20%;
	font-size: 1.2rem;
}

.col-trip-datetime {
	flex: 0 0 30%;
	max-width: 30%;
}

.trip-time {
	font-size: 1.8rem;
	font-weight: bold;
	margin: 0;
	text-align: center;
}

.trip-date {
	font-size: .9rem;
	opacity: .7;
	margin: 0;
	text-align: center;
}

.trip-station {
	margin: .5rem 0 0 0;
	text-align: center;
}
