html, body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background: #212529;
    color: #d1d2d3;
}

.trip-list-header {
    background: #292f34;
    color: #d1d2d3;
    font-size: 1.4rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.trip-list-content {
    background: #292f34;
    color: #d1d2d3;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    transition: all .2s ease-out;
}

.trip-list-content:hover {
    background: #54595d;
}

.trip-list-content * {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.trip-info {
    text-align: left;
}

.trip-info * {
    margin-top: 0;
    margin-bottom: 0;
}

.trip-route {
    font-size: 1.3rem;
    font-weight: bold;
}

.trip-class {
    font-size: .9rem;
    opacity: .7;
}

.trip-datetime {
    text-align: center;
}

.trip-datetime * {
    margin-top: 0;
    margin-bottom: 0;
}

.trip-seats {
    text-align: right;
}

.trip-price {
    text-align: right;
}

.trip-time {
    font-size: 2rem;
    font-weight: bold;
}

.trip-date {
    font-size: .9rem;
    opacity: .7;
}
