:root {
    --navbar-height: calc(48px + 4px + 2rem);
}

body {
    margin: 0;
    background: #212529;
    padding-top: var(--navbar-height);
}

body, body * {
    font-family: 'Montserrat', sans-serif; !important;
}

.wrapper {
    min-height: 100vh;
}

.fa-trash {
    cursor: pointer;
}

.container {
    padding: 0;
}

/*===   Модальное окно входа   ===*/

.modal.custom .modal-content {
    background-color: #212529;
    border: 0;
    border-radius: 0;
    outline: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.modal.custom .modal-header {
    border: none;
    border-image: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 2rem 2rem 0 2rem;
    box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, .3);
}

.modal.custom .modal-body {
    background-color: #292f34;
}

button.close {
    font-size: 2.5rem;
    color: #d1d2d3;
    opacity: 1;
    text-shadow: none;
    transition: all 0.4s ease;
}

button.close:hover {
    color: #4caa13;
    opacity: 1;
    text-shadow: none;
}

#login-form, #registration-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#login-form .col-username,
#login-form .col-password {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 2rem;
}

#login-form .col-remember,
#login-form .col-submit {
    flex: 0 0 50%;
    max-width: 50%;
}

#registration-form .col-username,
#registration-form .col-password {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 2rem;
    height: 54px;
}

#registration-submit {
    flex: 0 0 100%;
    max-width: 100%;
}


/*===   Вкладки модального окна   ===*/

ul.nav-tabs {
    border-bottom: 0;
    background-color: #25292e;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.nav-tabs .nav-link {
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-image: 0;
    font-size: 1.25rem;
    color: #d1d2d3;
}

.nav-tabs .nav-link.active {
    color: #d1d2d3;
    border-bottom: 0;
    border-top: 4px solid transparent;
    background-color: #292f34;
    background-image: linear-gradient(#292f34, #292f34),
    linear-gradient(to right, #006838, #1a7f2b);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}


/*===   Поля ввода   ===*/

.input-wrap {
    display: flex;
    position: relative;
    height: 54px;
    background-color: #54595d;
}

.input-wrap::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-image: linear-gradient(to right, #006838, #378e30);
    transition: opacity .25s ease-out;
}

.input-wrap:hover::before {
    opacity: 1;
}

.input-wrap:focus-within::before {
    opacity: 1;
}

.input-field {
    z-index: 1;
    height: calc(100% - 4px);
    width: 100%;
    padding: .75rem;
    font-size: 1.1rem;
    color: #d1d2d3;
    background-color: #212529;
    transition: all 0.4s ease;
    box-shadow: inset 0 0 5px -2px rgba(0, 0, 0, .3);
    outline: none;
    border: 0;
    border-radius: 0;
}

.input-field:focus {
    color: #d1d2d3;
    background-color: #212529;
    box-shadow: inset 0 0 5px -2px rgba(0, 0, 0, .3);
    border: 0;
}

.input-field.date-picker {
    flex: 0 0 85%;
    max-width: 85%;
}

.input-date-btn {
    flex: 0 0 15%;
    max-width: 15%;
    z-index: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-date-btn * {
    color: #d1d2d3;
    font-size: 1.1rem;
}


/*===   Кнопка   ===*/

.form-button {
    cursor: pointer;
    height: 54px;
    color: #d1d2d3;
    background: #54595d;
    padding: .75rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.form-button::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: linear-gradient(to right, #006838, #378e30);
    transition: opacity .25s ease-out, box-shadow .2s;
}

.form-button:hover::before {
    opacity: 1;
}

.form-button:hover {
    text-decoration: none;
}

.form-button * {
    color: #d1d2d3;
    transition: all .5s ease-in-out;
    font-size: 1.2rem;
    text-transform: uppercase;
    z-index: 1;
}


/*===   Селект   ===*/

.form-select {
    position: relative;
    font-size: 1.2em;
    background-color: #54595d;
    height: calc(2em + .75rem + 2px);
}

.form-select::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background-image: linear-gradient(to right, #006838, #378e30);
    opacity: 0;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    transition: opacity .25s ease-out;
}

.form-select:hover::before {
    opacity: 1;
}

.form-select:focus-within::before {
    opacity: 1;
}

.form-select .chosen-value,
.form-select .value-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.form-select .chosen-value {
    padding: .375rem .75rem;
    top: -100%;
    position: relative;
    height: calc(2em + .75rem - 2px);
    width: 100%;
    color: #d1d2d3;
    font-size: inherit;
    outline: none;
    border: 0;
    border-radius: 0;
    background-color: #212529;
    transition: all 0.4s ease;
    box-shadow: inset 0 0 5px -2px rgba(0, 0, 0, .3);
}

.form-select .select-arrow {
    float: right;
    width: .7rem;
    height: .7rem;
    border-bottom: 2px solid currentColor;
    border-left: 2px solid currentColor;
    border-bottom-left-radius: 2px;
    transform: rotate(45deg) translate(50%, 0%);
    transform-origin: center center;
    transition: transform ease-in-out .2s;
    color: #54595d;
    position: relative;
    top: -160%;
    left: -5%;
}

.form-select .select-arrow.open {
    transform: rotate(-45deg) translate(0%, 0%);
}

.form-select .chosen-value:hover {
    cursor: pointer;
}

.form-select .chosen-value:focus, .chosen-value.open {
    border: 0;
    color: #d1d2d3;
    background-color: #212529;
    box-shadow: inset 0 0 5px -2px rgba(0, 0, 0, .3);
}

.form-select .value-list {
    list-style: none;
    margin-top: 3.3rem;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-height: 0;
    transition: 0.3s ease-in-out;
    padding: 0;
    z-index: 2;
}

.form-select .value-list.open {
    max-height: 320px;
    overflow: auto;
    z-index: 2;
    background-color: #212529;
}

.form-select .value-list li {
    position: relative;
    background-color: #212529;
    color: #d1d2d3;
    padding: .5rem 1rem;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    opacity: 1;
}

.form-select .value-list li:hover {
    background: linear-gradient(to right, #197e2c, #4caa13);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #44883c;
    transition: 0.2s;
}

.value-list li.closed {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
}

.form-select .value-list li.disabled {
    cursor: not-allowed;
    color: #54595d;
}

.form-select .value-list li.disabled:hover {
    background: #212529;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: #54595d;
    color: #54595d;
}


/*===   Панель навигации   ===*/

.navbar {
    font-size: 1.25rem;
    padding: 1rem;
    border-bottom: solid 4px transparent;
    background-image: linear-gradient(#292f34, #292f34),
    linear-gradient(to right, #006838, #4caa13);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    transition: top 0.3s;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.nav-link-main {
    color: #d1d2d3;
}

.nav-link-main:hover {
    background: linear-gradient(to right, #197e2c, #4caa13);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #44883c;
    transition: 0.2s;
}

.dropdown-menu {
    top: 130%;
    background-color: #292f34;
    border-radius: 0;
    border: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
}

.dropdown-divider {
    border-top: 1px solid #54595d;
}

.dropdown-item {
    color: #d1d2d3;
    font-size: 1.15rem;
}

.dropdown-item:hover {
    background: linear-gradient(to right, #056d35, #6eff17);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #44883c;
    transition: 0.2s;
}

.dropdown-item:focus {
    background: linear-gradient(to right, #056d35, #6eff17);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #44883c;
}


/*=== Блок выбора маршрута ===*/

.select-route-block {
    background: linear-gradient(rgba(41, 47, 52, .9), rgba(41, 47, 52, .9)), url("../img/mainBG2.jpg") no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    margin: calc(-1 * var(--navbar-height)) 0 0 0;
}

.select-route-block .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-route-form {
    background: #292f34;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.select-route-form .col-from,
.select-route-form .col-to,
.select-route-form .col-date {
    flex: 0 0 25%;
    max-width: 25%;
}

.select-route-form .col-swap {
    flex: 0 0 8%;
    max-width: 8%;
}

.select-route-form .col-submit {
    flex: 0 0 13%;
    max-width: 13%;
}


.row.title {
    color: #d1d2d3 ;
    font-size: 2rem;
}

.news-block {
    background: url("../img/gradient.png");
    background-size: auto 100%;
}

.news-inner {
    min-height: 25rem;
    font-size: 1.1rem;
    color: #d1d2d3;
    background-color: #212529;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    transition: all 0.4s ease 0s;
}

.news-inner:hover {
    box-shadow: 0 0 5px 2px #44883c;
}


/*===   Footer   ===*/

.footer {
    background: linear-gradient(to right, #006838, #3b8210);
    color: #d1d2d3;
    font-size: 1.5rem;
    padding-top: 2rem;
}

.footer-copy {
    text-align: center;
}


/*===   Custom checkbox ===*/

.custom-control-label {
    padding-left: 0.5em;
    color: #d1d2d3;
    font-size: 1rem;
}

.custom-checkbox .custom-control-label::after {
    width: 20px;
    height: 20px;
    border-radius: 0;
    border: none;
    background-color: #212529;
    box-shadow: inset 0 0 5px -2px rgba(0, 0, 0, .3);
}

.custom-checkbox .custom-control-label::before {
    width: 20px;
    height: 20px;
    border-radius: 0;
    border: none;
    background-color: #212529;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    width: 20px;
    height: 20px;
    border-radius: 0;
    background-color: #212529;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    width: 20px;
    height: 20px;
    background-color: #212529;
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%2344883c' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.custom-control-input:active~.custom-control-label::after {
    width: 20px;
    height: 20px;
    border-radius: 0;
    background-color: #212529;
}

.custom-control-input:active~.custom-control-label::before {
    width: 20px;
    height: 20px;
    border-radius: 0;
    background-color: #212529;
}

.custom-checkbox .custom-control-input:focus~.custom-control-label::before {
    width: 20px;
    height: 20px;
    border-radius: 0;
    box-shadow: none;
    background-color: #212529;
}
