.trip-details-content {
    background: #292f34;
    color: #d1d2d3;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    padding: 0 2rem;
    margin: 2rem 0;
}



.trip-stations, .trip-select-seats, .trip-passenger {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #54595d;
    padding: 2rem;
}



.trip-station-info {
    display: flex;
    flex-wrap: wrap;
    padding: 1.3rem 0;
    align-items: center;
    text-align: center;
}
.col-station {
    font-size: 1.2rem;
    flex: 0 0 35%;
    max-width: 35%;
}
.col-station .time {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}
.col-station .date {
    font-size: .9rem;
    opacity: .7;
    text-align: center;
}
.col-timegap {
    font-size: 1.1rem;
    flex: 0 0 30%;
    max-width: 30%;
    position: relative;
    margin-top: 1.5rem;
}
.timegap-line::before {
    content: '';
    border-top: 3px dashed #54595d;
    position: absolute;
    width: 100%;
    right: 5%;
    top: -115%;
}
.timegap-line::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='48' viewBox='0 0 16 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.414 6.685L1.68 11.413a.771.771 0 0 1-1.09-1.088L4.778 6.14.59 1.957A.77.77 0 1 1 1.68.868l4.734 4.729a.767.767 0 0 1 0 1.088z' fill='%2354595d'/%3E%3C/svg%3E");
    position: absolute;
    width: 10px;
    height: 18px;
    right: 5%;
    top: -145%;
}



.trip-select-seats .seats-number {
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    color: #d1d2d3;
}
.trip-select-seats .form-select {
    margin-top: 1rem;
    width: 30%;
}



.trip-passenger-title {
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    color: #d1d2d3;
}
.passenger-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.passenger-info .col-name,
.passenger-info .col-lastname {
    flex: 0 0 30%;
    max-width: 30%;
    margin-right: 1rem;
}

.trip-buy {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
}
.trip-buy .trip-price {
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    color: #d1d2d3;
    flex: 0 0 25%;
    max-width: 25%;
}
.trip-buy a {
    flex: 0 0 25%;
    max-width: 25%;
}