.trip-details-title {
	font-size: 1.4rem;
	color: #d1d2d3;
	padding: 2rem;
}


.trip-details-content {
	background: #292f34;
	font-size: 1.1rem;
	color: #d1d2d3;
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
	margin-bottom: 2rem;
	padding: 0 1rem;
}


.trip-stations, .trip-select-seats, .trip-passenger {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #54595d;
}


.trip-station-info {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	padding: 1.2rem 0;
}

.col-station {
	flex: 0 0 50%;
	max-width: 50%;
	font-size: 1rem;
}

.col-station .time {
	font-size: 1.6rem;
	font-weight: bold;
}

.col-station .date {
	font-size: .9rem;
	opacity: .7;
}

.col-timegap {
	display: none;
	flex: 0 0 30%;
	max-width: 30%;
	position: relative;
	margin-top: 1.5rem;
}

.timegap-line::before {
	content: '';
	border-top: 3px dashed #54595d;
	position: absolute;
	width: 100%;
	right: 5%;
	top: -115%;
}

.timegap-line::after {
	content: '';
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='48' viewBox='0 0 16 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.414 6.685L1.68 11.413a.771.771 0 0 1-1.09-1.088L4.778 6.14.59 1.957A.77.77 0 1 1 1.68.868l4.734 4.729a.767.767 0 0 1 0 1.088z' fill='%2354595d'/%3E%3C/svg%3E");
	position: absolute;
	width: 10px;
	height: 18px;
	right: 5%;
	top: -145%;
}

.col-total-time {
	flex: 0 0 100%;
	max-width: 100%;
	padding-top: 1rem;
}


.trip-select-seats {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 1.5rem;
}

.trip-select-seats .seats-number {

}

.trip-select-seats .form-select {
	flex: 0 0 100%;
	max-width: 100%;
	margin-top: 1rem;
}


.trip-passenger {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 1.5rem;
}

.trip-passenger-title {

}

.passenger-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.passenger-info .col-name,
.passenger-info .col-lastname {
	flex: 0 0 100%;
	max-width: 100%;
	margin-top: 1rem;
}

.trip-buy {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem;
}

.trip-buy .trip-price {
	flex: 0 0 100%;
	max-width: 100%;
}

.trip-buy a {
	flex: 0 0 100%;
	max-width: 100%;
	margin-top: 1rem;
}


@media only screen and (min-width: 768px) {
	.trip-details-content {
		padding: 2rem;
		margin-bottom: 2rem;
	}


	.col-station {
		font-size: 1.2rem;
		flex: 0 0 35%;
		max-width: 35%;
	}

	.col-station .time {
		font-size: 1.8rem;
	}

	.col-timegap {
		display: initial;
	}

	.col-total-time {
		display: none;
	}


	.trip-select-seats .seats-number {
		flex: 0 0 100%;
		max-width: 100%;
		font-size: 1.2rem;
	}

	.trip-select-seats .form-select {
		flex: 0 0 50%;
		max-width: 50%;
	}


	.trip-passenger-title {
		flex: 0 0 100%;
		max-width: 100%;
		font-size: 1.2rem;
	}

	.passenger-info {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.passenger-info .col-name,
	.passenger-info .col-lastname {
		flex: 0 0 48%;
		max-width: 48%;
	}


	.trip-buy .trip-price {
		flex: 1 0 40%;
		font-size: 1.2rem;
		text-align: right;
		padding-right: 2rem;
	}

	.trip-buy a {
		flex: 0 0 40%;
		max-width: 40%;
		margin: 0;
	}
}

@media only screen and (min-width: 992px) {
	.trip-select-seats .seats-number {
		font-size: 1.3rem;
	}

	.trip-select-seats .form-select {
		flex: 0 0 30%;
		max-width: 30%;
	}


	.trip-passenger-title {
		font-size: 1.3rem;
	}

	.passenger-info {
		justify-content: start;
	}

	.passenger-info .col-name,
	.passenger-info .col-lastname {
		flex: 0 0 30%;
		max-width: 30%;
		margin-right: 1rem;
	}


	.trip-buy {
		justify-content: end;
	}

	.trip-buy .trip-price {
		font-size: 1.3rem;
	}

	.trip-buy a {

	}
}
