<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/default-header :: header(~{::title}, ~{::link})">

	<link rel="stylesheet" th:href="@{/css/buses.css}">

	<title>
		Парк автобусов - Bus Ticket
	</title>

</head>
<body>

<div class="wrapper">

	<th:block th:replace="blocks/sidebar :: sidebar" />

	<div class="main">
		<div class="container" id="bus-list">
			<div class="add-bus-form">
				<div class="col-select form-select" id="select-model">
					<input class="chosen-value" type="text" value="" placeholder="Модель автобуса">
					<div class="select-arrow">
						<i class="fas fa-chevron-left"></i>
					</div>
					<ul class="value-list"></ul>
				</div>

				<div class="col-number input-wrap">
					<input class="input-field" id="bus-number" type="text" placeholder="Номер автобуса">
				</div>

				<div class="col-submit">
					<a class="form-button" id="bus-submit"><span>Добавить</span></a>
				</div>
			</div>

			<div class="bus-list-elements" id="bus-list-elements"></div>

			<nav class="pagination-wrap" aria-label="Page navigation" id="pagination">
				<ul class="pagination-list" id="pagination-list"></ul>
			</nav>

		</div>

		<div class="notification-wrapper" id="notification-wrapper"></div>
	</div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/combine/npm/dayjs@1.11.1/dayjs.min.js,npm/dayjs@1.11.1/plugin/utc.min.js,npm/dayjs@1.11.1/plugin/timezone.min.js,npm/dayjs@1.11.1/locale/ru.min.js"></script>

<script type="text/javascript" th:src="@{/js/interface_elements/Sidebar.js}"></script>
<script type="text/javascript" th:src="@{/js/interface_elements/CustomSelect.js}"></script>
<script type="text/javascript" th:src="@{/js/interface_elements/Pagination.js}"></script>
<script type="text/javascript" th:src="@{/js/interface_elements/NotificationPopup.js}"></script>
<script type="text/javascript" th:src="@{/js/AdminBuses.js}"></script>
</body>
</html>