<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/default-header :: header(~{::title}, ~{::link})">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg==" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/trip-search.css}">
    <link rel="stylesheet" th:href="@{/css/datetimepicker.css}">

    <title>
        Bus Ticket - покупка билетов на рейсовые автобусы
    </title>

</head>
<body>

<div class="wrapper">

    <div th:replace="blocks/navigation :: navigation"></div>

    <div class="container-fluid m-0 p-0">
        <div class="find-trip-block">
            <div th:replace="blocks/findTripForm :: form"></div>
        </div>

        <div class="row news-block m-0 py-5">
            <div class="container-fluid m-0 p-0">

                <div class="row title justify-content-center m-0 pb-5" style="color: #d1d2d3">Новости и обновления</div>

                <div class="row m-0 justify-content-around">
                    <div class="col-lg-3 mb-4">
                        <div class="news-inner p-4">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque facilis hic in laborum magni mollitia odit praesentium voluptatum? Eveniet illo ipsa qui reiciendis totam. Eum placeat quisquam reiciendis similique ut!
                        </div>
                    </div>
                    <div class="col-lg-3 mb-4">
                        <div class="news-inner p-4">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus enim magnam magni obcaecati repudiandae sunt temporibus. Aliquam dolorum eaque ex harum iure nam nobis obcaecati odio omnis, voluptatem! Ipsum, similique.
                        </div>
                    </div>
                    <div class="col-lg-3 mb-4">
                        <div class="news-inner p-4">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque commodi consequatur error eum in inventore, numquam odio perspiciatis, quae qui reprehenderit vero. Error est eum, expedita iste quidem veniam.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div th:replace="blocks/footer :: footer"></div>

</div>

<div th:replace="blocks/modalAuth :: modal"></div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/ru.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-k6/Bkb8Fxf/c1Tkyl39yJwcOZ1P4cRrJu77p83zJjN2Z55prbFHxPs9vN7q3l3+tSMGPDdoH51AEU8Vgo1cgAA==" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/Main.js}"></script>
<script type="text/javascript" th:src="@{/js/DateTimePicker.js}"></script>
<script type="text/javascript" th:src="@{/js/ModalForm.js}"></script>
<script type="text/javascript" th:src="@{/js/TripSearch.js}"></script>

</body>
</html>