<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/default-header :: header(~{::title}, ~{::link})">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/orders.css}">

    <title>
        Архив заказов - Bus Ticket
    </title>

</head>
<body>

<div class="d-flex flex-column wrapper">

    <div th:replace="blocks/navigation :: navigation"></div>

    <div class="container pb-5" id="order-list-container">

        <div class="row title p-5">Архив заказов</div>

        <div class="row order-search-block p-5">
            <div class="col-sm-3">
                <div class="input-wrap">
                    <input class="input-field" id="passenger-name" type="text" placeholder="Имя">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-wrap">
                    <input class="input-field" id="passenger-lastname" type="text" placeholder="Фамилия">
                </div>
            </div>
            <div class="col-sm-2">
                <a class="form-button" id="order-search-submit"><span>Найти</span></a>
            </div>
        </div>

        <div class="d-none d-lg-flex row order-list-header px-5 py-3 mb-4 justify-content-between">
            <div class="col-lg-4 text-left">Данные пассажира</div>
            <div class="col-lg-4 text-center">Кол-во заказов</div>
        </div>

    </div>

    <div th:replace="blocks/footer :: footer"></div>

</div>

<div th:replace="blocks/modalAuth :: modal"></div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/ru.min.js"></script>
<script type="text/javascript" th:src="@{/js/Orders.js}"></script>
<script type="text/javascript" th:src="@{/js/Main.js}"></script>
<script type="text/javascript" th:src="@{/js/ModalForm.js}"></script>

</body>
</html>