<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/default-header :: header(~{::title}, ~{::link})">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css"
          integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/trip-search.css}">
    <link rel="stylesheet" th:href="@{/css/trips.css}">
    <link rel="stylesheet" th:href="@{/css/datetimepicker.css}">

    <title>
        Список рейсов - Bus Ticket
    </title>

</head>
<body>

<div class="d-flex flex-column wrapper">

    <div th:replace="blocks/navigation :: navigation"></div>

    <div class="container" id="trip-list-container">

        <div class="find-trip-block">
            <div th:replace="blocks/findTripForm :: form"></div>
        </div>

        <div class="trip-list-title">Список рейсов</div>

        <div class="trip-list-header">
            <div class="col-header-route">Маршрут</div>
            <div class="col-header-from">Отправление</div>
            <div class="col-header-to">Прибытие</div>
            <div class="col-header-bus">Автобус</div>
            <div class="col-header-price">Цена</div>
        </div>

        <div class="trip-list-elements" id="trip-list-elements"></div>

        <nav class="pagination-wrap" aria-label="Page navigation" id="pagination">
            <ul class="pagination-list" id="pagination-list"></ul>
        </nav>

    </div>

    <div th:replace="blocks/footer :: footer"></div>

</div>

<div th:replace="blocks/modalAuth :: modal"></div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/ru.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js"
        integrity="sha512-k6/Bkb8Fxf/c1Tkyl39yJwcOZ1P4cRrJu77p83zJjN2Z55prbFHxPs9vN7q3l3+tSMGPDdoH51AEU8Vgo1cgAA=="
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/Main.js}"></script>
<script type="text/javascript" th:src="@{/js/Pagination.js}"></script>
<script type="text/javascript" th:src="@{/js/Trips.js}"></script>
<script type="text/javascript" th:src="@{/js/DateTimePicker.js}"></script>
<script type="text/javascript" th:src="@{/js/ModalForm.js}"></script>
<script type="text/javascript" th:src="@{/js/TripSearch.js}"></script>

</body>
</html>