<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&family=Roboto&display=swap">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/trips.css}">
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}"/>

    <title>
        Информация о рейсе - Bus Ticket
    </title>

</head>
<body>

<div class="d-flex flex-column wrapper">

    <div th:replace="blocks/navigation :: navigation"></div>

    <div class="container pb-5" id="trip-info-container">

        <div class="row trip-info-title" style="color: #d1d2d3;">
            <p class="trip-route my-5" th:text="${trip.stationStart} + ' — ' + ${trip.stationFinish}"></p>
        </div>

        <div class="row trip-list-content align-items-center p-3">
            <div class="col-lg-8 trip-info">
                <div class="row justify-content-between">
                    <div class="col-sm-4 trip-datetime">
                        <p class="trip-time" th:text="${tripTimeStart}"></p>
                        <p class="trip-date" th:text="${tripDateStart}"></p>
                        <p class="trip-station" th:text="${trip.stationStart}"></p>
                    </div>
                    <div class="col-sm-4 trip-datetime">
                        <p class="trip-time" th:text="${tripTimeFinish}"></p>
                        <p class="trip-date" th:text="${tripDateFinish}"></p>
                        <p class="trip-station" th:text="${trip.stationFinish}"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 trip-bus-info">
                <p class="trip-class" th:text="${tripBusClass}"></p>
                <p class="trip-class" th:text="'№ ' + ${trip.bus.number}"></p>
            </div>
        </div>

        <div class="row my-3"></div>

        <div class="row trip-list-content align-items-center p-3">
            <p class="col-12 trip-route my-5">Выбрать место</p>
            <div class="col">
                <select class="form-control" id="trip-select-seat">
                    <option th:each="seat : ${trip.bus.seats}"
                            th:text="${seat.number}"
                            th:if="${seat.free}"></option>
                </select>
            </div>
        </div>

        <div class="row trip-list-content align-items-center justify-content-between p-3">
            <p class="col-12 trip-route my-5">Данные пассажира</p>
            <div class="col-sm-3">
                <div class="input-wrap">
                    <input class="input-field" id="passenger-name" type="text" placeholder="Имя">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-wrap">
                    <input class="input-field" id="passenger-lastname" type="text" placeholder="Фамилия">
                </div>
            </div>
            <div class="col-sm-6 ml-auto">
                <span class="trip-price" th:text="'Стоимость: ' + ${trip.price} + ' BYN'"></span>
                <a class="btn btn-primary" id="trip-make-order">Оформить заказ</a>
            </div>
        </div>

    </div>

    <div th:replace="blocks/footer :: footer"></div>

</div>

<div th:replace="blocks/modalAuth :: modal"></div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/Trips.js}"></script>
<script type="text/javascript" th:src="@{/js/Main.js}"></script>
<script type="text/javascript" th:src="@{/js/ModalForm.js}"></script>
<script type="text/javascript" th:src="@{/js/MakeOrder.js}"></script>

</body>
</html>