<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/default-header :: header(~{::title}, ~{::link})">

	<link rel="stylesheet" th:href="@{/css/modal.css}">
	<link rel="stylesheet" th:href="@{/css/trip-details.css}">

	<title>
		Покупка билета - Bus Ticket
	</title>

</head>
<body>

<div class="wrapper">

	<th:block th:replace="blocks/sidebar :: sidebar" />

	<div class="main">
		<div class="container" id="trip-details-container">

			<div class="trip-details-title">Оформление заказа</div>

			<div class="trip-details-content">
				<div class="trip-stations"></div>

				<div class="trip-select-seats">
					<div class="seats-number"></div>
					<div class="form-select" id="select-seat">
						<input class="chosen-value" type="text" value="" placeholder="Выберите место">
						<div class="select-arrow">
							<i class="fas fa-chevron-left"></i>
						</div>
						<ul class="value-list"></ul>
					</div>
				</div>

				<div class="trip-passenger">
					<div class="trip-passenger-title">Данные пассажира</div>
					<div class="passenger-info">
						<div class="col-name input-wrap">
							<input class="input-field" id="pass-name" type="text" placeholder="Имя">
						</div>
						<div class="col-lastname input-wrap">
							<input class="input-field" id="pass-lastname" type="text" placeholder="Фамилия">
						</div>
					</div>
				</div>

				<div class="trip-buy">
					<div class="trip-price"></div>
					<a class="form-button" id="order-submit"><span>оформить заказ</span></a>
				</div>
			</div>

		</div>
	</div>

</div>

<div th:replace="blocks/modalAuth :: modal"></div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/combine/npm/dayjs@1.10.7,npm/dayjs@1.10.7/locale/ru.min.js"></script>

<script type="text/javascript" th:src="@{/js/Main.js}"></script>
<script type="text/javascript" th:src="@{/js/ModalForm.js}"></script>
<script type="text/javascript" th:src="@{/js/interface_elements/Sidebar.js}"></script>
<script type="text/javascript" th:src="@{/js/interface_elements/CustomSelect.js}"></script>
<script type="text/javascript" th:src="@{/js/TripDetails.js}"></script>

</body>
</html>