<form th:fragment="form" class="select-route-form">
    <div class="form-row justify-content-between">
        <div class="col-lg-3">
            <div class="input-wrap">
                <input class="input-field" id="trip-from" type="text" placeholder="Откуда">
            </div>
        </div>
        <div class="col-lg-1">
            <a class="form-control form-button" id="swap-stations"><i class="fas fa-exchange-alt"></i></a>
        </div>
        <div class="col-lg-3">
            <div class="input-wrap">
                <input class="input-field" id="trip-to" type="text" placeholder="Куда">
            </div>
        </div>
        <div class="col-lg-3">
                <div class="input-wrap input-group date" id="datetimepicker-from" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input input-field" data-target="#datetimepicker-from"
                           placeholder="Дата отправления"/>
                    <div class="input-group-append input-date-btn" data-target="#datetimepicker-from" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fas fa-calendar"></i></div>
                    </div>
                </div>
        </div>
        <div class="col-lg-2">
            <a class="form-control form-button" id="trip-search-submit"><span>Найти</span></a>
        </div>
    </div>
</form>