<form th:fragment="form" class="find-trip-form">
	<div class="title">Поиск рейсов</div>
	<div class="col-from">
		<div class="input-wrap">
			<input class="input-field" id="trip-from" type="text" placeholder="Откуда">
		</div>
	</div>
	<div class="col-swap">
		<a class="form-button" id="swap-stations"><i class="fas fa-exchange-alt"></i></a>
	</div>
	<div class="col-to">
		<div class="input-wrap">
			<input class="input-field" id="trip-to" type="text" placeholder="Куда">
		</div>
	</div>
	<div class="col-date">
		<div class="input-group date input-wrap date-picker" id="datetimepicker-from" data-td-target-input="nearest"
			 data-td-target-toggle="nearest">
			<input type="text" class="datetimepicker-input input-field date-picker"
				   data-td-target="#datetimepicker-from"
				   placeholder="Дата отправления"
				   readonly/>
			<div class="input-date-btn" data-td-target="#datetimepicker-from" data-td-toggle="datetimepicker">
				<i class="fas fa-calendar"></i>
			</div>
		</div>
	</div>
	<div class="col-submit">
		<a class="form-button" id="trip-search-submit"><span>Найти</span></a>
	</div>
</form>