<div th:fragment="modal" class="modal login hide" id="modal-login">
	<div class="content">
		<div class="header">
			<ul class="tabs">
				<li class="tab active">
					<a class="tab-link" id="login-tab-toggle">Вход</a>
				</li>
				<li class="tab">
					<a class="tab-link" id="registration-tab-toggle">Регистрация</a>
				</li>
			</ul>
			<a class="close" id="close-modal-login">
				<i class="fa-solid fa-xmark"></i>
			</a>
		</div>
		<div class="body">
			<div class="tab-pane show" id="login-tab">
				<form action="/login" method="post" id="login-form" class="login-form">
					<div class="col-username">
						<div class="input-wrap">
							<input name="username" type="text" class="input-field" id="inputLoginUsername"
								   placeholder="Имя пользователя">
						</div>
					</div>
					<div class="col-password">
						<div class="input-wrap">
							<input name="password" type="password" class="input-field" id="inputLoginPassword" placeholder="Пароль">
						</div>
					</div>
					<div class="col-remember">
						<div class="checkbox-wrap">
							<input type="checkbox" class="custom-checkbox" id="rememberMeCheckbox" name="remember-me">
							<label class="custom-checkbox-label" for="rememberMeCheckbox">Запомнить меня</label>
						</div>
					</div>
					<div class="col-submit">
						<a id="login-submit" class="form-button"><span>Войти</span></a>
					</div>
				</form>
			</div>
			<div class="tab-pane hide" id="registration-tab">
				<form id="registration-form" class="registration-form">
					<div class="col-username">
						<div class="input-wrap">
							<input type="text" class="input-field" id="inputRegisterUsername" placeholder="Имя пользователя">
						</div>
					</div>
					<div class="col-password">
						<div class="input-wrap">
							<input type="password" class="input-field" id="inputRegisterPassword" placeholder="Пароль">
						</div>
					</div>
					<div class="col-submit">
						<a id="registration-submit" class="form-button"><span>Зарегистрироваться</span></a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>