<header th:fragment="navigation" class="navbar" id="navbar-main">
	<a class="logo" href="/"><img th:src="@{/img/icon.svg}" alt="На главную"></a>
	<input type="checkbox" id="nav-toggle" class="nav-toggle">

	<a th:if="${user.role == 'ANONYMOUS'}" id="login-link" class="navbar-link" href="#" data-toggle="modal"
	   data-target="#modal-account">Войти</a>

	<div th:unless="${user.role == 'ANONYMOUS'}" class="dropdown">
		<a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
		   aria-haspopup="true" aria-expanded="false">
			<i class="fas fa-user"></i>
			<span th:text="${user.username}"></span>
		</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			<a th:if="${user.role == 'USER'}" class="dropdown-item" href="/user/orders">Заказы</a>
			<a class="dropdown-item" href="/user">Профиль</a>
			<p class="dropdown-divider"></p>
			<a class="dropdown-item" href="/logout">Выйти</a>
		</div>
	</div>

	<label for="nav-toggle" class="nav-toggle-label"><span></span></label>

	<nav>

		<ul th:if="${user.role == 'ANONYMOUS'}">
			<li>
				<a id="trips" class="navbar-link" href="/trips">Расписание</a>
			</li>
		</ul>

		<ul th:if="${user.role == 'ADMIN'}">
			<li><a id="trips" class="navbar-link" href="/trips">Расписание</a></li>
			<li><a id="orders" class="navbar-link" href="/orders">Заказы</a></li>
			<li><a id="buses" class="navbar-link" href="/admin/buses">Автобусы</a></li>
			<li><a id="bus-models" class="navbar-link" href="/admin/buses/models">Модели автобусов</a></li>
			<li><a id="routes" class="navbar-link" href="/admin/routes">Маршруты</a></li>
			<li><a id="stations" class="navbar-link" href="/admin/stations">Станции</a></li>
		</ul>

		<ul th:if="${user.role == 'EMPLOYEE'}">
			<li><a id="trips" class="navbar-link" href="/trips">Расписание</a></li>
			<li><a id="orders" class="navbar-link" href="/orders">Заказы</a></li>
		</ul>

		<ul th:if="${user.role == 'USER'}">
			<li>
				<a id="trips" class="navbar-link" href="/trips">Расписание</a>
			</li>
		</ul>

	</nav>
	<div class="gradient-line"></div>
</header>
