<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNavbar">
    <a class="navbar-brand" href="/"><img th:src="@{/img/logoico.png}" alt="На главную" height="48"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <a id="trips" class="nav-link nav-link-main" href="/trips">Расписание</a>
        <a id="unauthLink" class="nav-link nav-link-main" href="#" data-toggle="modal" data-target="#modal-account">Войти</a>
    </div>
</nav>
