<nav th:fragment="pagination" class="pagination-wrap" aria-label="Page navigation" id="pagination">
    <ul class="pagination-list justify-content-center my-3">
        <li id="page-prev-li">
            <a class="pagination-link" id="page-prev" aria-label="Previous">
                <span><i class="fas fa-chevron-left"></i></span>
            </a>
        </li>
        <li id="page-next-li">
            <a class="pagination-link" id="page-next" aria-label="Next">
                <span><i class="fas fa-chevron-right"></i></span>
            </a>
        </li>
    </ul>
</nav>